<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-grid>
      <div class="center-container">
        <ion-col size="auto">
          <img src="assets/logo-duoc.png" class="logo" />
        </ion-col>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!--
<ion-toolbar  class="barrita">
  <ion-title class="title"> Inicio </ion-title>
</ion-toolbar>-->

<ion-content [fullscreen]="true" class="background">
  <ion-card class="custom-card">
    <ion-card-header>
      <!-- Avatar para la foto de perfil -->
      <ion-avatar>
        <img src="assets/foto-de-perfil.jpg" alt="Foto de perfil" />
      </ion-avatar>
    </ion-card-header>

    <ion-card-content class="custom-card-content">
      <h2>Hola, {{ nombre }} {{ apellido }}</h2>
      <p>Bienvenido a tu perfil.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="sede">
    <img alt="PAO" src="assets/Padre_alonso_ovalle_sede.jpg" />
    <ion-card-header>
      <ion-card-title>PAO</ion-card-title>
      <ion-card-subtitle>Padre Alonso de Ovalle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> La mejor sede de todos los tiempos </ion-card-content>
  </ion-card>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
    <ion-button class="custom-button" expand="block" (click)="sedes()">
      Sedes Duoc
    </ion-button>
  </div>
</ion-content>
