<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-grid>
      <div class="center-container">
        <ion-col size="auto">
          <img src="assets/logo-duoc.png" class="logo" />
        </ion-col>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="actualizarDatos()">
    <ion-item>
      <ion-label position="floating">Correo Actual</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="mdl_correo_actual"
        name="correoActual"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="mdl_contrasena_nueva"
        name="contrasenaNueva"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Carrera</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="mdl_carrera_nueva"
        name="carreraNueva"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Actualizar Datos</ion-button>
  </form>

  <ion-footer class="fixed-footer">
    <ion-toolbar>
      <div class="footer-icons">
        <ion-tab-button (click)="home()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="sedes()">
          <ion-icon name="map-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="cerrarSesion()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-tab-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
